*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#F9F8F3;
}

.calculator{
    width:380px;
    background:#fff;
    padding:30px;
    border-radius:20px;
    border:2px solid #8CB62C;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
}

.calculator h2{
    text-align:center;
    color:#222;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border:2px solid #DDF7A2;
    border-radius:12px;
    outline:none;
    font-size:16px;
    transition:.3s;
}

input:focus{
    border-color:#8CB62C;
    box-shadow:0 0 10px rgba(140,182,44,.3);
}

.buttons{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

button{
    padding:15px;
    font-size:24px;
    font-weight:bold;
    border:none;
    border-radius:12px;
    cursor:pointer;
    background:#8CB62C;
    color:white;
    transition:.3s;
}

button:hover{
    background:#222;
    transform:translateY(-3px);
}

#result{
    margin-top:25px;
    padding:18px;
    text-align:center;
    border-radius:12px;
    background:#DDF7A2;
    color:#222;
    font-size:24px;
    font-weight:700;
}
